<!-- <body>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1>404</h1>
      </div>
      <h2>We are sorry, Page not found!</h2>
      <p>
        The page you are looking for might have been removed had its name
        changed or is temporarily unavailable.
      </p>
      <a href="#">Back To Homepage</a>
    </div>
  </div>
</body> -->

<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">404</span>
        <div class="mb-4 lead">The page you are looking for was not found.</div>
        <a [routerLink]="['/Home']" routerLinkActive="router-link-active" class="btn btn-link">Back to Home</a>



      </div>
    </div>
  </div>
</div>
<!-- <body class="c-app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Oops! You're lost.</h4>
          <p class="text-muted">The page you are looking for was not found.</p>
        </div>
        <div class="input-prepend input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <svg class="c-icon">
                <use
                  xlink:href="vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"
                ></use></svg
            ></span>
          </div>
          <input
            class="form-control"
            id="prependedInput"
            size="16"
            type="text"
            placeholder="What are you looking for?"
          />

          <span class="input-group-append">
            <button class="btn btn-info" type="button">Search</button></span
          >
        </div>
      </div>
    </div>
  </div>

 
</body> -->